@tailwind base;
@tailwind components;
@tailwind utilities;

.top-bar {
  @apply z-10 fixed top-0 bg-neutral h-20 border-b-[1px] border-b-base-200
  flex justify-between
  lg:w-[calc(100%-247px)] lg:right-0 lg:px-8
  ;

  &-left-content {
    @apply hidden 
    lg:flex lg:flex-col lg:items-start;
    .welcome {
      @apply font-semibold text-xl;
    }
    .date {
      @apply font-light text-sm text-base-300;
    }
  }

  &-right-content {
    @apply flex-1 flex justify-end gap-[18px];

    &-icons {
      @apply flex gap-7;
    }
    &-separator {
     @apply hidden h-8 w-[1px] mx-7 bg-base-200
     lg:flex
     ; 
    }
    input {
      @apply w-[48px]
      lg:w-[389px];
    }
  }
}